<!DOCTYPE html>
<html>
<head>
    <title>Solr - Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"
            integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"
            integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/js/all.js"
            integrity="sha256-FfgLgtUyCun3AtxuU4iXuVNSbOzW6p1ozrdO0PlV6qA=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/vue-slider-component@3.2.10/theme/default.min.css">
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue-icons.common.min.js">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-slider-component@3.2.10/dist/vue-slider-component.umd.min.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Solr Manager</span>
    </nav>
    <div class="container">
            <div id="cover-spin" v-show="spinner"></div>
            <div v-if="errorMessage" id="global-error" class="notification is-danger is-light">
                <button class="delete">Close</button>
                {{errorMessage}}
            </div>
            <div class="row mt-2 p-3 shadow-sm ct-bg-panel" >
                        <div class="col-6">
                            <div class="row">
                                    <h3 class="ml-3">Solr Connection</h3>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="zkHost" class="sr-only">Zookeeper Host</label>
                                        <input type="text" v-model="zkHostString" class="form-control" id="zkHost" placeholder="Zookeeper Host">
                                    </div>
                                    <button type="button" v-on:click="connect" class="btn btn-primary mb-2 ml-3" :disabled="isZkConnected && isSolrConnected">Connect</button>
                                    <button type="button" v-on:click="disconnect" class="btn btn-primary mb-2 ml-3" :disabled="!isZkConnected || !isSolrConnected">Disconnect</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <table>
                                <thead>
                                <tr>
                                    <th> System </th>
                                    <th> Connected </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Solr</td>
                                    <td>{{isSolrConnected}}</td>
                                </tr>
                                <tr>
                                    <td>Zookeeper</td>
                                    <td>{{isZkConnected}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>

            <div class="row mt-2 p-3 shadow-sm ct-bg-panel" >
                <div class="col" style="min-height: 150px;">
                    <div class="row">
                        <div class="col">
                            <h3>Config Set</h3>
                        </div>
                    </div>
                    <div class="row p-1" style="min-height: 100px;">
                        <div class="col">
                            <table>
                                <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Delete </th>
                                    <th> Edit </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="config in configSets">
                                    <td>{{config}}</td>
                                    <td><a href="javascript:;" v-on:click="deleteConfig(config)" ><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                    <td><a href="javascript:;" v-on:click="editConfig(config)" ><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <form>
                                <div class="form-group">
                                    <label for="folderPath">ConfigSet Folder Path</label>
                                    <input v-model="configSetPath" type="text" class="form-control" id="folderPath" aria-describedby="configSetFolderHelp" placeholder="ConfigSet Folder Path">
                                    <small id="configSetFolderHelp" class="form-text text-muted">Path to the configSet folder in your local system</small>
                                </div>
                                <div class="form-group">
                                    <label for="configSetName">ConfigSet Name</label>
                                    <input v-model="configSetName" type="text" class="form-control" id="configSetName" aria-describedby="configSetNameHelp" placeholder="ConfigSet Name">
                                    <small id="configSetNameHelp" class="form-text text-muted">Name of the new configSet to be created</small>
                                </div>
                                <button type="button" class="btn btn-primary"  v-on:click="uploadConfig">Upload</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


        <div class="row mt-2 p-3 shadow-sm ct-bg-panel" >
            <div class="col" style="min-height: 150px;">
                <div class="row">
                    <div class="col">
                        <h3>Collections</h3>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <table>
                            <thead>
                            <tr>
                                <th> Name </th>
                                <th> Delete </th>
                                <th> More Information </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="collection in collections">
                                <td>{{collection}}</td>
                                <td><a href="javascript:;" v-on:click="deleteCollection(collection)" ><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                <td><a href="javascript:;" v-on:click="getCollectionDetails(collection)" ><i class="fas fa-info-circle"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        {{collectionDetails}}
                    </div>

                </div>
            </div>
        </div>


        </div>
</div>

<!--<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>-->

<script src="js/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</body>
</html>